body {
    font-family: Arial, sans-serif;
    background-color: limegreen;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

form {
    display: inline-block;
    background-color: #fff;
    padding: 20px 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label, input, datalist {
    margin-bottom: 15px;
    width: 100%;
}

input[type="number"],
input[list] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 1000px; 
    box-sizing: border-box;
    font-size: 16px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#resultado {
	background-color: #fff;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}